a

<%if (@game.is_startable? || @game.is_restartable? ) && current_user && current_user.id == @game.user_id   %>
       <div class = "col-md-2">
          <% if @game.status == 0 %>
            <%= link_to "Start", start_game_path(@game),
	                         id: "start",
	                         class: "btn btn-primary btn-lg",
	                         method: "post"   %>
          <% end %>
       </div>
       <div class = "col-md-2">
          <%= link_to "Restart", restart_game_path(@game),
	                         id: "restart",
	                         class: "btn btn-primary btn-lg",
	                         method: "post"   %>
       </div>
  <div class = "col-md-2">
            <%= link_to "Kill", kill_game_path(@game),
	                         id: "kill",
	                         class: "btn btn-primary btn-lg",
	                         method: "post"   %>
       </div>
 <% end %>



 <%if current_user && current_user.id != @game.user_id  %>
       <div class = "col-md-2">
            <%= link_to "Leave", leave_game_path(@game),
	                         id: "leave",
	                         class: "btn btn-primary btn-lg",
	                         method: "post"   %>
       </div>
 <% end %>

    
